.gloss_body{
    background-color: #f8f7fa;
}
.gloss_body img.animation__shake.loadingImg {
    width: 40px;
}
.gloss_body .form-row {
    box-shadow: 0 4px 18px rgba(47, 43, 61,.1), 0 0 transparent, 0 0 transparent;
    margin-bottom: 10px;
    padding: 10px;
}
.content-wrapper{
    background-color: #f8f7fa;
    background-image: none;
}
.gloss_breadcrumbs{
    background-clip: padding-box;
    box-shadow: 0 4px 18px rgba(47, 43, 61,.1), 0 0 transparent, 0 0 transparent;
    padding: 20px 50px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: #ffffff;
}
.gloss_breadcrumbs a,section.content-header.list_breadcrumb a{
    color: #E9651B;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
    background-color: #fff;
    border-color: #E9651B;
    color: #E9651B;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    background-color: #E9651B;
    color: #fff;
}

.navbar-nav>.user-menu>.dropdown-menu{
    width: 190px;
    border: 10px;
}
section.content-header.list_breadcrumb {
    background-clip: padding-box;
    box-shadow: 0 4px 18px rgba(47, 43, 61,.1), 0 0 transparent, 0 0 transparent;
    padding: 7px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.gloss_body form#formWizard {
    background-clip: padding-box;
    box-shadow: 0 4px 18px rgba(47, 43, 61,.1), 0 0 transparent, 0 0 transparent;
    padding: 50px 50px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: #ffffff;
}
.btn-primary ,.gloss_card-header .btn{
    color: #fff;
    box-shadow: none;
    background-color: #E9651B;
    border-color: #E9651B;
}
.btn-primary:hover {
    color: #E9651B;
    background-color: #FFFFFF;
    border-color: #E9651B;
}
.form-control{
    border-radius: 0;
}
.gloss_add_new {
    background-color: #E9651B;
    border-color: #E9651B;
}

.gloss_add_new:hover ,.btn-success:not(:disabled):not(.disabled):active,.btn-success:focus, .btn-success.focus{
    background-color: #fff;
    border-color: #E9651B;
    color: #E9651B;
}

div#DataTables_Table_0_filter input.form-control.form-control-sm {
    height: 38px;
    border-radius: 5px;
}
a.btn.btn-success.gloss_edit ,a.btn.btn-success.mr-2.tooltips.tooltipstered,a.btn.btn-danger.mr-2.delete_entry.tooltips.tooltipstered{
    background-color: #ffff;
    border-color: transparent;
    color: #E9651B;
    border-radius:0;
}

.gloss_delete {
    background-color: #ffff;
    border-color: transparent;
    color: #E9651B;
    border-radius:0;
}

.gloss_body .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.gloss_body .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.gloss_body .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #E9651B;
    border-radius: 4px;
}

.gloss_body .slider:before {
    position: absolute;
    content: "OFF";
    height: 26px;
    width: 32px;
    left: 0px;
    bottom: 0px;
    background-color: #E9651B;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
}

.gloss_body input:checked + .slider {
    background-color: #fff;
}

.gloss_body input:focus + .slider {
    box-shadow: none;
}

.gloss_body input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color:#E9651B;
    content: "Active";
}
.gloss_body .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255 255 255);
}
.gloss_body .table-bordered th,.gloss_body .table-bordered td {
    border: 1px solid #E9651B;
    background-color: #fff;
}

.gloss_body table.table-bordered.dataTable {
    box-shadow: 0 4px 18px rgba(47, 43, 61,.1), 0 0 transparent, 0 0 transparent;
}
.gloss_body input.common_sort_order {
    width: 50px !important;
    border-radius: 5px;
    border: 1px solid #E9651B;
    text-align: center;
}
.gloss_body .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #E9651B;
    border-color: #E9651B;
}
.gloss_body .alert-success {
    color: #fff;
    background-color: #E9651B;
    border-color: #ffffff;
    padding: 6px 10px;
}
.sidebar_gloss{
    background-color: #225915;
}
.sidebar_gloss .nav-pills .nav-link{
    color: #fff;
}
.sidebar_gloss .nav-pills .nav-link.active, .sidebar_gloss .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E9651B;
}

footer.main-footer {
    background-color: #E9651B;
    color: #fff;
}
footer.main-footer a {
    color: #b0bb91;
}
