.btn{
    border-radius: 0px;
  }
  .primaryBtn, .secondaryBtn, .whiteBtn{
    width: 260px;
    height: 80px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px; 
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    #btnposition {
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }
      a{
        position: relative;
        transition: all .35s ease-Out;
        color: #fff;
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button{
      position: relative;
      transition: all .35s ease-Out;
      color: $black;
      width: 100%;
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 600;
  }
    #slide {
        width: 100%;
        height: 100%;
        left: -260px;
        background: $orange;
        position: absolute;
        transition: all .35s ease-Out;
        bottom: 0;
      }
    @media(max-width:1600px){
      width: 210px;
      height: 60px;
      font-size: 15px;
    }
    @media(max-width:1200px){
      width: 180px;
      height: 50px;
    }
    @media(max-width:991px){
      width: 150px;
      height: 40px;
      font-size: 14px;
    }
    @media(max-width:575px){
      width: 124px;
      height: 40px;
      font-size: 12px;
    }
  }
  .primaryBtn{
    background-color: $green;
    &:hover{
        border: 2px solid #FFF !important;
         #slide{
            left: 0;
         }
         a{
            color: #fff;
            position: relative;
         }
    }
  }
  .secondaryBtn{
    background-color: transparent;
    border: 2px solid #FFF !important;
    #slide {
        background: $green;
    }
    &:hover{
        #slide{
           left: 0;
        }
        a{
           color: #fff;
           position: relative;
        }
   }
  }
  .whiteBtn{
    background-color: #fff !important;
    #slide {
        background: $orange;
    }
    &:hover{
        #slide{
           left: 0;
        }
        a{
           color: #fff;
           position: relative;
        }
   }
  }