// Heading Styles
h1, h2, h3, h4, h5, h6, li, button, a, p, span, .form-control, textarea, ::placeholder, label, button{
  font-family: 'Raleway', sans-serif;
}
p{
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 0;
  color: $grey;
  @media(max-width:1600px){
    font-size: 15px;
    line-height: 30px;
  }
  @media(max-width:1200px){
    line-height: 26px;
  }
  @media(max-width:575px){
    font-size: 14px;
    line-height: 25px;
  }
}
.small-title{
  position: relative;
  color: $black;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  word-break: break-word;
  @media(max-width:1600px){
    font-size: 18px;
    line-height: 18px;
  }
  @media(max-width:991px){
    font-size: 15px;
    line-height: 15px;
  }
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $orange;
    bottom: -10px;
    left: 0;
  }
}
.big-title{
  margin-top: 20px;
  color: #151515;
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 0;
  word-break: break-word;
  @media(max-width:1600px){
    font-size: 40px;
    line-height: 60px;
  }
  @media(max-width:1300px){
    font-size: 30px;
    line-height: 50px;
  }
  @media(max-width:991px){
    font-size: 22px;
    line-height: 40px;
  }
  @media(max-width:767px){
    font-size: 20px;
    line-height: 35px;
  }
}
.tag-line{
  margin-top: 30px;
  color: $orange;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  @media(max-width:1600px){
    font-size: 20px;
  line-height: 30px;
  }
  @media(max-width:1300px){
    font-size: 15px;
  line-height: 25px;
  }
}
