.blog-wrapper {
    .small-title{
     text-align: center;
    }
    .blog-listing {
      margin-top: 50px;
      @media(max-width:991px){
        margin-top:30px;
      }
      .blog-list-box {
        width: 96%;
        margin-bottom: 60px;
        border: 1px solid #d9d9d9;
        transition: all 0.5s ease-in;
        @media(max-width:1200px){
          width: 100%;
        }
        @media(max-width:575px){
          margin-bottom: 30px;
        }
        &:hover {
          box-shadow: 0px 20px 20px 0px rgba(94, 154, 44, 0.2);
          background: linear-gradient(105deg, #99BD8A 1.16%, #C4E9B5 61.3%, #6B9D56 97.92%);
          transition: all .5s;
          transform : translateY(-10px);
          .seriver-contant {
            .service-title {
              h3 {
                color: $orange;
              }
            }
            .news-header {
              h4 {
                color: $orange;
              }
            }
          }
          .r-more {
            background: linear-gradient(105deg, #99BD8A 1.16%, #C4E9B5 61.3%, #6B9D56 97.92%);
            li {
              a {
                color: #fff;
              }
            }
          }
        }
        .service-img {
          img {
            width: 100%;
          }
        }
        .seriver-contant {
          padding: 15px;
          background-color: #fff;
          @include min(1200){
            padding: 10px;

          }
          @include min(1440){
            padding: 20px;

          }
          @media(max-width:767px){
            min-height: 0px !important;
            height: 200px;
          }
          @media(max-width:575px){
            height: 215px;
          }
          @media(max-width:442px){
            height: 204px;
          }
          @media(max-width:350px){
            height: 245px;
          }
          .service-title {
            h3 {
                color: #252525;
                font-size: 20px;
                line-height: 35px;
                font-weight: 700;
                overflow: hidden;
                transition: all 0.4s ease-in-out;
                @include min(576){
                  height: 48px;
                }
                @include min(768){
                  height: 52px;
                }
                @include min(1200){
                  height: 56px;
                }
                @include min(1600){
                  height: 60px;
                }
                @include min(1900){
                  height: 70px;
                }
                @media(max-width:1600px){
                  font-size: 18px;
                  line-height: 30px;
                }
                @media(max-width:1440px){
                  font-size: 15px;
                  line-height: 28px;
                }
                @media(max-width:1100px){
                  font-size: 15px;
                  line-height: 26px;
                }
                @media(max-width:767px){
                  font-size: 14px;
                  line-height: 24px;
                }
            }
          }
          .news-header {
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media(max-width:460px){
              padding: 0px 0;
            }
            h4 {
              font-size: 18px;
              line-height: 35px;
              font-weight: 500;
              color: $grey;
              margin-bottom: 0;
              @media(max-width:1600px){
                font-size: 14px;
              }
            }
          }
          .serive-description {
            display: -webkit-box;
            max-width: 470px;
            // -webkit-line-clamp: 4;
            // -webkit-box-orient: vertical;
            overflow: hidden;
            @include min(768){
              height:83px;
            }
            @include min(992){
              height:83px;
            }
      
            @include min(1280){
              height:83px;
            }
            @include min(1440){
              height: 96px;
            }
            @media(max-width:991px){
              margin-top: 15px;
              margin-bottom: 20px;
            }
            @media(max-width:767px){
              margin-top: 5px;
            
              overflow-x: hidden;
              height: 68px;
              &::-webkit-scrollbar {
                width: 5px;
              }
              &::-webkit-scrollbar-track {
                background-color: $green;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-thumb {
                background: $orange;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background: $orange;
              }
            }
            @media(max-width:460px){
              height: 92px;
            }
            p {
                color: $grey;
                font-size: 18px;
                line-height: 35px;
                font-weight: 400;
                margin-bottom: 0;
                @media(max-width:1600px){
                  font-size: 15px;
                  line-height: 30px;
                }
            }
          }
        }
        .r-more {
          padding: 10px 20px;
          border: 1px solid #d9d9d9;
          background: #fafafd;
          text-align: center;
          transition: all 1s ease-in-out;
          li {
            vertical-align: middle;
            width: 100%;
            a {
              color: #252525;
              text-align: center;
              font-size: 18px;
              font-weight: 400;
              /* text-transform: uppercase; */
              transition: all 0.4s ease-in;
              width: 100%;
              display: block;
              @media(max-width:1100px){
                font-size: 12px;
              }
            }
          }
        }
      }
      .blog-load {
        .quick-enq {
          margin: 0 auto;
        }
      }
    }
  }
  .blog-detail-page {
    .recent-post ul {
      overflow-y: auto;
      @include min(768){
        height: 500px;
        
      }
      &::-webkit-scrollbar {
        height: 5px;
        width: 4px;
        background: $orange;
        border-radius: 50px;
      }
      &::-webkit-scrollbar-track {
        background: #ccc;
        height: 5px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: $orange;
        border-radius: 10px;
      }
  }
    .blog-detail-content {
      width: 95%;
      @media(max-width:1199px){
        width: 100%;
      }
      .blog-title {
        // padding: 25px 0 0 0;
        h3 ,h2{
          color: #252525;
          margin-bottom: 0;
          font-size: 24px;
          line-height: 35px;
          font-weight: 700;
          @media(max-width:1600px){
            font-size: 20px;
            line-height: 30px;
          }
          @media(max-width:1200px){
            font-size: 18px;
            line-height: 28px;
          }
          @media(max-width:400px){
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
      .blog-post-detail {
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        padding: 20px 0 0 0;
        margin-bottom: 30px;
        @media(max-width:991px){
          margin-bottom: 25px;
        }
        @media(max-width:575px){
          margin-bottom: 20px;
        }
        p {
          color: $grey;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 0;
          @media(max-width:1600px){
            font-size: 16px;
          }
          @media(max-width:991px){
            font-size: 15px;
          }
        }
      }
      .blog-description {
        p {
          color: $grey;
          margin-bottom: 0;
          @media(max-width:575px){
            margin-bottom: 20px;
          }
        }
        ul {
          padding: 60px 0 40px 50px;
          @media(max-width:1600px){
            padding: 36px 0 25px 50px;
          }
          @media(max-width:991px){
            padding: 36px 0 25px 0px;
          }
          @media(max-width:575px){
            padding: 15px 0 25px 0px;
          }
        }
      }
      .blog-img {
        margin-top: 60px;
        padding: 0px 0 40px 0;
        @media(max-width:1600px){
          margin-top: 40px;
        }
        @media(max-width:991px){
          padding: 0px 0 30px 0;
        }
        @media(max-width:575px){
          padding: 0px 0 20px 0;
        }
         &:hover{
            .video-modal {
                img {
                  animation: pulse 1s;
                }
              }
         }
        .ply-img {
          position: relative;
          margin-top: 60px;
          display: inline;
          .video-modal {
            cursor: pointer;
            position: absolute;
            top: 31%;
            transform: translate(-50%, -50%);
            left: 50%;
            border-radius: 50%;
            .play-btn {
              width: 130px;
              height: 130px;
              display: flex;
              align-items: center;
              justify-content: center;
              img{
                @media(max-width:575px){
                  width: 50%;
                }
                @media(max-width:450px){
                  width: 40%;
                }
              }
            }
          }
        }
      }
    }
    .social-wrapper-area {
      margin-top: 20px;
      margin-bottom: 40px;
      border-top: 1px solid #ECECEC;
      border-bottom: 1px solid #ECECEC;
      @media(max-width:991px){
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @media(max-width:767px){
        margin-top: 0px;
      }
      .social-share {
        display: flex;
        align-items: center;
        width: 100;
        padding: 15px 0;
        @media(max-width:767px){
          justify-content: space-between;
        }
      }
      .s-title {
        margin-right: 40px;
        @media(max-width:405px){
          margin-right: 0px;
        }
        p {
          font-size: 20px;
          line-height: 20px;
          color: #252525;
          font-weight: 400;
          margin-bottom: 0;
          @media(max-width:1600px){
            font-size: 16px;
            line-height: 30px;
          }
          @media(max-width:463px){
            font-size: 14px;
            line-height: 28px;
          }
          @media(max-width:390px){
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
      .social {
        li {
          margin-right: 20px;
          vertical-align: middle;
          @media(max-width:463px){
            margin-right: 10px;
          }
          @media(max-width:405px){
            margin-right: 5px;
          }
          a {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background: #75b341;
            @media(max-width:1100px){
              width: 25px;
              height: 25px;
            }
            @media(max-width:360px){
              width: 20px;
              height: 20px;
            }
            i {
              color: #fff;
              font-size: 20px;
              @media(max-width:991px){
                  font-size: 18px;
              }
            }
            &:hover {
              animation: pulse 1s;
            }
          }
        }
      }
    }
    .blog-action-content{
      > div{
        &:last-child{
          .blog-botm-action {
            float: right;
        }
        
        }
        &:first-child{
          .blog-botm-action {
            float: unset!important;
        }
        
        }
      }

      .b-title-icon-prev, .b-title-icon-next{
        .row{
          @media(max-width:767px){
            align-items: center;
          }
        }
        .discription{
 
           
          
          p{
            white-space: nowrap;
            overflow: hidden !important;
            align-items: center;
            text-overflow: ellipsis;
            @media(max-width:767px){
              display: none;
            }    
          }
        }
      }
      .prev-b-img{
        img{
          border-radius: 5px;
          width: 100%;
          margin:0 auto;
          @include min(576){
            border-radius: 10px;
          width: 94%;
          }
          @media(max-width:340px){
            width: 100%;
          }
        }
      }
      .blog-botm-action{
      
        li{
          vertical-align: middle;
          margin-right: 0px;
          .btn{
            @media(max-width:435px){
              padding-right: 0;
              padding-left: 0;
            }
          }
          .action-title {
            p{
             color: $black;
             font-size: 18px;
             line-height: 40px;
             font-weight: 400;
             text-transform: capitalize;
             @media(max-width:1600px){
              font-size: 15px;
             }
             @media(max-width:991px){
              font-size: 14px;
             }
             @media(max-width:767px){
              font-size: 13px;
             }
             @media(max-width:395px){
              
              display: none;
             }
            }
           }
        }
      }
    
    }
  }
  .right-top-post {
    margin-top: 60px;
    background-color: #fff;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #ECECEC;
    border-radius: 10px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 9%;
    @media(max-width:1600px){
      margin-top: 38px;
    }
    @media(max-width:767px){
      margin-top: 40px;
    }
    .r-h-post-title {
      margin-top: 30px;
      h4,h2 {
        color: #252525;
        font-size: 24px;
        line-height: 45px;
        font-weight: 600;
        padding: 0 25px;
        @media(max-width:1600px){
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .recent-post {
        margin-top: 30px;
      a {
        &:hover {
          .r-post-title {
            h3 {
              font-weight: 600;
              color: #282828;
            }
          }
        }
      }
      .post-flex {
        display: flex;
        align-items: flex-start;
        padding: 0 25px 25px 25px;
        transition: all 0.3s ease-in;
        gap: 10px;
        @include min(1200){
          gap: 15px;
        }
        @include min(1440){
          gap: 20px;
        }
        .r-post-num {
          h5 {
            color: $black;
            font-size: 30px;
            font-weight: 400;
            line-height: 35px;
            margin-bottom: 0;
          }
        }
        .r-post-title {
          width: 80%;
          @include min(768){
            width: 68.199%;

          }
        }
        .r-post-img {
        picture {
            display: block;
        }
          img {
            width: 70px;
            height: 100%;
            border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #ECECEC;
            object-fit: cover;

            @include min(1200){
              width: 80px;
              height: 80px;
            }
            @include min(1440){
              width: 100px;
              height: 100px;
            }
            @media(max-width:1050px){
              width: 150px;
            
            }
            @media(max-width:767px){
              width: 100px;
       
            }
          }
        }
        .r-post-title {
          @media(max-width:1600px){
            margin-left: 10px;
          }
          p {
            color: $grey;
            font-size: 18px;
            line-height: 35px;
            font-weight: 400;
            @media(max-width:1600px){
              font-size: 15px;
            line-height: 30px;
            }
            @media(max-width:991px){
              font-size: 14px;
            line-height: 28px;
            }
          }
          h3 {
            color: #282828;
            font-size: 18px;
            font-weight: 400;
            line-height: 35px;
            margin-bottom: 0px;
            display: -webkit-box;
            max-width: 345px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @media(max-width:1600px){
              font-size: 16px;
              line-height: 30px;
            }
            @media(max-width:800px){
              font-size: 14px;
              line-height: 25px;
            }
            @media(max-width:767px){
              font-size: 16px;
              line-height: 30px;
              margin-top: 10px;
            }
            @media(max-width:575px){
              font-size: 14px;
              line-height: 18px;
            }
            @media(max-width:410px){
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
  