.modal-fullscreen{
  .modal-content{
    height: 100%;
    .btn-close{
      @media(max-width:1050px){
        right: 10px !important;
      }
      @media(max-width:767px){
        top: 4% !important;
      }
    }
    .modal-body {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      @media(max-width:767px){
        padding: 20px !important;
      }
        .modal-enqury-wrapper{
          height: 100%;
            .enq-form{
              height: 100%;
              .heit-100{
                height: 100%;
                @media(max-width:767px){
                  height: auto;
                }
                .img-100{
                  height: 100%;
                  .modl-img{
                    height: 100%;
                    @media(max-width:767px){
                      display: none;
                    }
                    img{
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
              }
              .green-bg{
                .filed-btm{
                  @media(max-width:767px){
                    margin-bottom: 10px !important;
                  }
                  @media(max-width:575px){
                    margin-bottom: 10px !important;
                  }
                  @media(max-width:500px){
                    margin-bottom: 5px !important;
                  }
                  textarea#msg{
                    height: 45px !important;
                  }
                }
              }
            }
        } 
  }  
  }
}
.modal {
    &.show {
      background:#225915;
      z-index: 9999999999 !important;
    }
    .modal-dialog {
      max-width: 100% !important;
      position: relative;
      .btn-close {
        cursor: pointer;
        color: #fff;
        opacity: 1;
        background-image: url("../images/icons/cls-btn.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 50px;
        top: 15%;
        z-index: 11;
        transform: translate(-50%, -50%);
        &:hover {
          opacity: 1;
        }
        &:focus {
          box-shadow: none !important;
        }
      }
      .en-modal-form {
        border: none;
        background: #225915;
        .modal-body {
          padding: 0;
          .form-title {
            margin-bottom: 40px;
            @media(max-width:767px){
              margin-bottom: 18px;
            }
            h2,h3,div {
              color: #fff;
              font-size: 24px;
              line-height: 24px;
              font-weight: 700;
              /* text-transform: uppercase; */
              @media(max-width:1050px){
                font-size: 20px;
                line-height: 22px;
              }
            }
          }
          .enq-form {
            .green-bg{
                padding:0px 80px 0 0;
                @media(max-width:1050px){
                  padding:0px 40px 0 0;
                }
                @media(max-width:767px){
                  padding:0px 0px 0 0;
                }
                label {
                    font-size: 18px;
                    color: #fff;
                    letter-spacing: 0.9px;
                    margin-bottom: 18px;
                    @media(max-width:1366px){
                      margin-bottom: 12px;
                      font-size: 15px;
                    }
                    @media(max-width:1050px){
                      margin-bottom: 10px; 
                      font-size: 15px;
                    }
                    @media(max-width:500px){
                      margin-bottom: 5px; 
                    }
                  }
                  .filed-btm {
                    margin-bottom:15px;
                    position: relative;
                    @media(max-width:1366px){
                      margin-bottom:8px;
                    }
                    .form-control {
                      max-width: 100%;
                      background-color: transparent;
                      border: 0px;
                      border-bottom: 1px solid $white;
                      border-radius: 0;
                      color: #fff;
                      position: relative;
                      padding-bottom: 10px;
                      padding-left: 0;
                      &:focus {
                        box-shadow: none !important;
                      }
                      &::placeholder {
                        color: #151515;
                      font-size: 18px;
                      font-weight: 500;
                      line-height: normal;
                      letter-spacing: 0.09px;
                      @media(max-width:1050px){
                        margin-bottom: 10px; 
                        font-size: 15px;
                      }
                      }
                    }
                    .form-select {
                      background-image: url("../images/icons/dropdown.webp");
                      background-repeat: no-repeat;
                      background-size: 15px;
                      -moz-appearance: none !important;
                      -webkit-appearance: none !important;
                      appearance: none !important;
                      color: #151515 !important;
                      font-weight: 500;
                      font-size: 18px;
                      @media(max-width:1050px){
                        margin-bottom: 10px; 
                        font-size: 15px;
                      }
                      option {
                        color: #151515 !important;
                        font-weight: 500;
                        background: #fff;
                      }
                    }
                    textarea#msg {
                      height: 41px;
                    }
                    .select2-container--default {
                      .select2-selection--single {
                        background-color: transparent;
                        border-radius: 0 !important;
                        border-bottom: 1px solid $white;
                        height: 41px;
                        position: relative;
                        .select2-selection__rendered{
                          line-height: 28px;
                          font-size: 18px;
                          color: #151515;
                          font-weight: 500;
                          @media(max-width:1050px){
                            margin-bottom: 10px; 
                            font-size: 15px;
                          }
                        }
                        .select2-selection__placeholder{
                          color: #151515 !important;
                          font-weight: 500;
                          font-size: 18px;
                          @media(max-width:1050px){
                            margin-bottom: 10px; 
                            font-size: 15px;
                          }
                        }
                        .select2-selection__arrow{
                          top: 0;
                        }
                      }
                  }
                  }
            }
            .modl-img {
              img {
                width: 100%;
                // height: 810px;
                // object-fit: fill;
              }
            }
          }
        }
      }
    }
  }
  // video modal
  .video-modal {
    .modal-content {
      background: transparent;
      border: none;
        border: none;
        .btn-close {
          cursor: pointer;
          color: #fff;
          opacity: 1;
          background-image: url("../images/icons/cls-btn.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        width: 34px;
        height: 33px;
        position: absolute;
        right: 4%;
        top: -15px;
        z-index: 11;
        transform: translate(-50%, -50%);
          &:hover {
            opacity: 1;
          }
          &:focus {
            box-shadow: none !important;
          }
        }
    }
    .vid-wrapper {
      video {
        width: 90%;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .enq-form {
    input,textarea,select,option{
      font-style: italic;
      color: #b0b0b0 !important;
      &::placeholder{
        font-style: italic;
        color: #b0b0b0 !important;
      }
    }
  }body .modal .modal-dialog .en-modal-form .modal-body .enq-form .green-bg .filed-btm .select2-container--default .select2-selection--single .select2-selection__rendered,
  body .modal .modal-dialog .en-modal-form .modal-body .enq-form .green-bg .filed-btm .select2-container--default .select2-selection--single .select2-selection__placeholder,
  body .modal .modal-dialog .en-modal-form .modal-body .enq-form .green-bg .filed-btm .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-style: italic;
    color: #b0b0b0 !important;
  }
