
.about-mission-wrapper{
    padding: 0;
    position: relative;
    &:after{
        position: absolute;
        content: '';
        background-color: #A6D493;
        left: 0;
        top: 0;
        width: 84px;
        height: 100%;
        z-index: -1;
        @media(max-width:767px){
            content: none;
        }
    }
    &:before{
        position: absolute;
        content: '';
        background-color: $orange;
        right: 0;
        width: 84px;
        height: 100%;
        top: 0;
        z-index: -1;
        @media(max-width:767px){
            content: none;
        }
    }
    .discription{
        p{
            color: #151515;
            margin-top: 30px;
            @media(max-width:1202px){
                margin-top: 0;
            }
        }
    }
    .green-bg{
        background: #A6D493;
        padding: 60px 16px;
        @media(max-width:1202px){
            padding: 45px 16px;
        }
        @media(max-width:1188px){
            padding: 30px 16px;
        }
    }
    .mis-img{
        height: 370px;
        object-fit: fill;
        width: 100%;
        @media(max-width:1476px){
            height: 376px;
        }
        @media(max-width:1202px){
            height: 286px;
        }
        @media(max-width:772px){
            height: 310px;
        }
        @media(max-width:767px){
            height: auto;
        }
    }
    .orange-bg{
        background: $orange; 
        padding: 60px 70px;
        @media(max-width:1202px){
            padding: 45px 0px 0 37px;
        }
        @media(max-width:1188px){
            padding: 30px  0px 0 37px;
        }
        @media(max-width:767px){
            padding: 30px  0px 30px 20px;
        }
        .small-title{
            &:after{
                background-color: #fff;
            }
        }
    }
}