.footer-wrapper {
    background-image: url('../images/footer-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 150px 0 150px 0;
    position: relative;
    @media(max-width:1200px){
      padding: 80px 0;
    }
    @media(max-width:991px){
      padding: 60px 0;
    }
    @media(max-width:767px){
      padding: 50px 0;
    }
    &:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(21, 21, 21, 0.90);
    }
    .pos-rel{
        position: relative;
        z-index: 1;
        .left-box {
            width: 93%;
            .footer-content {
              position: relative;
              &:first-child{
                @media(max-width:991px){
                  margin-bottom: 30px;
                }
              }
            }
            .social-connect {
              p {
                color: #fff;
                margin-bottom: 10px !important;
              }
            }
            .foot-logo {
              // width: 134px;
              img{
                width: 60%;
              }
              margin-bottom: 30px;
              h3 {
                color: #fff;
                font-size: 24px;
                font-weight: 500;
                line-height: 35px;
                text-transform: uppercase;
              }
            }
          }
          .footer-content {
            .discription {
              padding: 0px 0 20px 0;
              p {
                font-weight: 400;
                color: $grey999;
              }
            }
            .social-action {
              li {
                margin-right: 20px;
                &:last-child {
                  margin-right: 0px;
                }
                .iconBox {
                  font-size: 20px;
                  color: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-decoration: none;
                  &:hover {
                    animation: pulse 1s infinite;
                  }
                  img {
                    width: 25px;
                  }
                }
              }
            }
          }
          .footer-content {
            .foot-title {
              margin-bottom: 60px;
              @media(max-width:991px){
                margin-bottom: 40px;
              }
              h3 {
                color: #fff;
                font-size: 30px;
                line-height: 30px;
                font-weight: 400;
                margin-bottom: 0px;
                text-transform: uppercase;
                @media(max-width:1600px){
                  font-size: 22px;
                  line-height: 25px;
                }
                @media(max-width:1400px){
                  font-size: 20px;
                  line-height: 24px;
                }
              }
            }
            .foo-links {
              .li-img {
                li {
                  &:hover {
                    a {
                      -webkit-transition: all 0.3s ease;
                      -o-transition: all 0.3s ease;
                      -moz-transition: all 0.3s ease;
                      transform: translateX(5px);
                      &:before {
                        opacity: 1;
                      }
                    }
                    &:before{
                        background-color:$orange;
                      }
                  }
                }
              }
              li {
                margin-bottom: 20px;
                position: relative;
                &:before {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    top: 3px;
                    left: 0;
                    width: 47px;
                    height: 2px;
                    background-color: $grey;
                    @media(max-width:1199px){
                      width: 30px;
                    }
                  }
                a {
                  color: $grey999;
                  font-size: 18px;
                  line-height: 30px;
                  font-weight: 500;
                  padding-left: 66px;
                  position: relative;
                  top: -10px;
                  word-break: break-word;
                  @media(max-width:1600px){
                    font-size: 15px;
                  }
                  @media(max-width:1199px){
                    padding-left: 40px;
                  }
                  @media(max-width:1110px){
                    font-size: 14px;
                  }
                  @media(max-width:991px){
                    font-size: 13px;
                  }
                  &:hover {
                    color: #fff;
                  }
                }
              }
            }
            .top-info{
                li{
                  margin-bottom: 30px;
                  @media (max-width:1280px){
                    margin-right: 30px;
                  }
                  @media(min-width:1200px) and (max-width:1350px){
                    margin-right: 20px;
                  }
                  @media(min-width:992px) and (max-width:1199px){
                    margin-right: 10px;
                  }
                  @media(max-width:991px){
                    margin-right: 7px;
                  }
                  &:last-child{
                    margin-right: 0;
                  }
                  .left{
                    position: relative;
                    @media(max-width:1306px){
                      display: flex;
                    }
                    @media(max-width:801px){
                      margin-top: 5px;
                    }
                    img{
                      width: 30px;
                      height: 30px;
                      @media(max-width:1220px){
                        width: 20px;
                       height: 20px;
                      }
                    }
                    span{
                      color: #FFF;
                      font-size: 18px;
                      line-height: 30px;
                      font-weight: 500;
                      padding-right: 20px;
                      @media(max-width:1600px){
                        font-size: 15px;
                      }
                      @media(max-width:1419px){
                        padding-right: 15px;
                      }
                      @media(max-width:1350px){
                        padding-right: 10px;
                      }
                      @media(max-width:1110px){
                        font-size: 14px;
                      }
                      a{
                        color: #FFF;
                      font-size: 18px;
                      line-height: 30px;
                      font-weight: 500;
                      @media(max-width:1600px){
                        font-size: 15px;
                        line-height: 25px;
                      }
                      @media(max-width:1110px){
                        font-size: 14px;
                      }
                      @media(max-width:991px){
                        font-size: 13px;
                        line-height: 20px;
                      }
                      }
                    }
                    .loc-border{
                      position: relative;
                      &:after{
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 30px;
                        top: 50%;
                        left: 83%;
                        background-color: #fff;
                        transform: translate(-50%,-50%);
                        @media (min-width:1200px){
                          left: 90%;
                        }
                        @media(min-width:1200px) and (max-width:1350px){
                          left: 94%;
                          height: 20px;
                        }
                        @media(min-width:992px) and (max-width:1199px){
                          height: 20px;
                          left: 93%;
                        }
                        @media(max-width:991px){
                          content: none;
                        }
                      }
                      &.last{
                        &:after{
                          content: none;
                        }
                      }
                    }
                  }
                  .call-flex{
                    display: flex;
                    .left{
                      img{
                        @media(max-width:1220px){
                          width: 20px;
                         height: 20px;
                        }
                      }
                    }
                    a{
                        padding-left: 20px;
                        color: #FFF;
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: 500;
                        font-family: 'Roboto', sans-serif;
                      @media(max-width:1600px){
                        font-size: 15px;
                        line-height: 25px;
                      }
                      @media(max-width:1306px){
                        padding-left: 12px;
                      }
                      @media(max-width:1227px){
                        display: block;
                      }
                      @media(max-width:991px){
                        font-size: 13px;
                        line-height: 20px;
                      }
                      }
                  }
                } 
              }
              .social-connect{
                margin-top: 45px;
                p{
                    color: #FFF;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 500;
                }
                .header-social{
                  margin-top: 20px;
                    li{
                        margin-top: 5px;
                        margin-right: 30px;
                        &:last-child{
                            margin-right: 0;
                        }
                        svg{
                            width: 25px;
                            @media(max-width:1600px){
                              width: 20px;
                            }
                            @media(max-width:1400px){
                              width: 18px;
                            }
                        }
                    }
                }
              }
          }
    }
    .certified-img{
      margin-top: 30px;
      display: flex;
      img{
        &:first-child{
          @media(max-width:575px){
            margin-bottom: 20px;
          }
        }
      }
      @media(max-width:575px){
        display: block;
      }
    }
  }
  .c-write-wrapper {
    background-color: #050505;
    padding: 20px 0;
    @media(max-width:575px){
      padding: 20px 20px 85px 20px;
    }
    .container-ctn{
      .justify-content-end{
        @media(max-width:575px){
            justify-content: start !important;
            margin-top: 15px;
        }
      }
    }
      p {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 0;
        margin-right: 15px;
        @media(max-width:1600px){
            font-size: 16px;
        }
        @media(max-width:991px){
            font-size: 13px;
        }
      }
      .designby {
        display: flex;
        margin-left: 15px;
        @media(max-width:575px){
          margin-left: 0;
        }
        img {
          position: relative;
          top: 5px;
        }
      }
  }
  