.portfolio-wrapper{
    .small-title{
     text-align: center;
    }
    .nav-pills{
      margin-top: 50px;
      border-radius: 10px;
      background: #F5F5F5;
      padding: 10px 21px 25px 21px;
      margin-bottom: 16px; 
      flex-wrap: nowrap;
      overflow-y: auto;
      position: relative;
      @media(max-width:991px){
        margin-top:30px;
      }
      &:after{
        position: absolute;
        content: '';
        background-color: #fff;
        width: 100%;
        height: 10px;
        bottom: 0;
        left: 0;
      }
      &::-webkit-scrollbar {
        width: 7px;
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: $orange;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $orange;
      }
  }
  .nav-item{
      margin-right: 5px;
      @include min(1200){
          margin-right: 20px;
      }
      @include min(1600){
          margin-right: 30px;
      }
      @include min(1900){
          margin-right: 35px;
      }
      button{
        padding: 10px 0;
        color: #151515;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        font-weight: 600;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        @media(max-width:1600px){
          font-size: 18px;
        line-height: 32px;
        }
        @media(max-width:1369px){
          width: 188px;
        }
        @media(max-width:1200px){
          font-size: 16px;
        line-height: 30px;
        }
          &.active,&:hover{
            background-color: $orange;
            border-radius: 20px;
            color: $accentColor;
            transition: 0.5s ease all;
          }
      }
  }
  .tab-pane{  
    margin-top: 60px;
    .primaryBtn{
      margin-top: 30px;
    }
      .portfolio-img{
        position: relative;
        margin-bottom: 25px;
        &:hover{
          transition: all .5s;
          transform : translateY(-10px);
          .video-wrap{
            img{
              animation: pulse 1s;
            }
          }
        }
        img{
          width: 100%;
          height: 400px;
          object-fit: fill;
          @media(max-width:1400px){
            height: 250px;
          }
          @media(max-width:575px){
            height: auto;
          }
        }
        .video-wrap{
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          img{
            width: 80px;
            height: 80px;
            @media(max-width:1400px){
              width: 60px;
              height: 60px;
            }
          }
        }
      }
  }
  }

  