// Variables
$grey: #676767;
$grey999: #999!default;
$accentColor: #151515!default;
$white: #fff !default;
$black: #000;
$orange:#E9651B;
$green:#225915;
// Font Family
$primary-font : 'Raleway', sans-serif;


//$quote_icon: "M Ying Hei PRC W48 W7" !default;

// Font Weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
